# 历史K线数据根目录
CANDLE_BASE_DIR = 'CANDLELITE_DATA'
# OKX以日期为单位的存储目录
OKX_DATE_DIRNAME = 'OKX'
# OKX以文件为单位的存储目录
OKX_FILE_DIRNAME = 'OKX_FILE'
# OKX的默认时区
OKX_TIMEZONE = 'Asia/Shanghai'
# OKX的默认时间粒度
OKX_DEFAULT_BAR = '1m'
# BINANCE以日期为单位的存储目录
BINANCE_DATE_DIRNAME = 'BINANCE'
# BINANCE以文件为单位的存储目录
BINANCE_FILE_DIRNAME = 'BINANCE_FILE'
# BINANCE的默认时区
BINANCE_TIMEZONE = 'America/New_York'
# BINANCE的默认时间粒度
BINANCE_DEFAULT_BAR = '1m'